body {
  background-color: antiquewhite;
}

.card-grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 500px);
  row-gap: 50px;
  column-gap: 50px;
}

.card-grid div {
  display: inline-block;
  /* margin: auto; */
  width: 75%;
}

span {
  text-decoration-line: line-through;
  text-decoration-style: double;
}

img {
  width: 100%;
}

h2 {
  font-size: 2;
}

p {
  font-size: 1.5rem;
}
