.card-grid {
  display: grid;
  align-items: center;
  background-color: green;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
}

.card-grid div {
  display: inline-block;
  /* background-color: yellow; */
  margin: auto;
  width: 50%;
}

span {
  text-decoration-line: line-through;
  text-decoration-style: double;
}

img {
  width: 100%;
  height: 275px;
}

h2 {
    font-size: 2;
}

p,
p span {
    font-size: 1.5rem;
}
